.navbar {
  border-radius: 0;
}

body {
  font-size: 20px;
}
.navbar-brand {
  padding: 15px, 12px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
.dropdown-menu > li > a {
  padding: 20px;
}
.bg-success {
  background-color: #1b6c47 !important;
}
/*start Dashboard */
.home-stats .stat {
  padding: 24px;
  background-color: #eee;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}
.home-stats .stat a {
  color: white;
  text-decoration: none;
}
.home-stats .stat span {
  display: block;
  font-size: 60px;
}

.home-stats .st-members {
  background-color: #3498db;
}
.home-stats .st-pending {
  background-color: #e67e22;
}
.home-stats .st-items {
  background-color: #e74c3c;
}
.home-stats .st-comments {
  background-color: #2ecc71;
}
.latest {
  margin-top: 40px;
}

/*end dasboard*/

/* start members page */
h1 {
  font-size: 35px;
  color: #198754;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-info {
  margin-left: 5px;
  color: white;
  margin-top: 1px;
}
.form-control {
  padding: 0.375rem 0.75rem;
  border-radius: 0.75em;
}
.fa-eye:before {
  position: absolute;
  top: 156px;
  right: 63px;
}
.responsive-table {
  -webkit-box-shadow: 0 3px 10px #ccc;
  -moz-box-shadow: 0 3px 10px #ccc;
  box-shadow: 0 3px 10px #ccc;
}
.btn-info {
  color: white;
  margin-top: 10px;
}

.panel-heading {
  background-color: #198754;
  color: white;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel-headingg {
  background-color: #198754;
  color: white;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.panel-body {
  background-color: #f3f3f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.latest-users {
  margin-bottom: 0px;
  padding: 5px 0;
  overflow: hidden;
}
.latest-users li {
  padding: 5px 0;
  overflow: hidden;
}
.latest-users li a {
  text-decoration: none;
}
.latest-users:last-of-type ~ hr {
  display: none;
}

/* start categ.*/
.cat h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
.btn-primary {
  margin-top: 10px;
}
.btn-danger {
  margin-top: 10px;
  margin-left: 5px;
}
.btn-success {
  margin-top: 10px;
}
.cat p {
  margin-bottom: 0;
}
.cat {
  margin-bottom: 20px;
  margin-top: 15px;
}
.cat:last-of-type ~ hr {
  display: none;
}

.form-select {
  width: 200%;
  border-radius: 15px;
}
